  /************   Header for all webpages   **************/
  #header {
      font-family: 'Luckiest Guy', cursive;
      background-color: orangered;
      font-weight: bolder;
      opacity: 0.90;
  }

  .headerLinks {
      font-size: 23px;
      padding-left: 11%;
      padding-right: 11%;
      color: darkblue;
      font-weight: bold;
      text-decoration: none;

  }

  .headerLinks:link {
      text-decoration: none;
      color: white;
      font-weight: bolder;
  }

  .headerLinks:visited {
      color: mediumblue;
      text-decoration: none;
  }

  .headerLinks:hover {
      text-decoration: none;
      color: lightseagreen;
      font-weight: bolder;
      border: 2px solid lightseagreen;
  }


  /************   landing page    **************/

  #index {
      background: url(/client/images/tacos.jpg) center/cover fixed no-repeat !important;
  }

  .hyperText {
      color: darkred;
      font-weight: bold;
      text-decoration: none;
      size 30px;
  }

  .hyperText:hover {
      text-decoration: none;
      font-weight: bolder;
      color: red;
      font-size: 35;
  }

  #pInfo {
      font-family: 'Patrick Hand', cursive;
      text-align: center;
      color: darkblue;
      font-weight: bolder;
      background-color: lightgray;
      max-width: 900px;
      border-radius: 30px;
      margin: auto;
      margin-top: 200px;
      font-size: 25px;
      opacity: 0.80;
  }

  p {
      padding: 0px 20px 0px 20px;
  }

  /************   write review page   **************/
  #review {
      background: url(/client/images/shrimpTacos.jpg) center/cover fixed no-repeat !important;
  }

  #hReview {
      font-family: 'Patrick Hand', cursive;
      text-align: center;
      color: darkblue;
      font-weight: bolder;
      background-color: lightgray;
      width: 285px;
      border-radius: 30px;
      margin: auto;
      margin-top: 200px;
      font-size: 30px;
      opacity: 0.80;
  }

  section {
      font-family: 'Luckiest Guy', cursive;
      border: 4px solid black;
      margin: auto;
      width: 400px;
      border-radius: 30px;
      margin-top: 5px;
      background-color: lightgray;
      opacity: 0.80;
      padding: 8px;
  }

  .labelName {
      margin: 5px;
      color: darkblue;
      font-size: 17px;
      font-weight: bolder;
  }

  .inputBox {
      font-family: sans-serif;
      margin-top: 5px;
      text-align: center;
      margin-right: 5px;
      float: right;
      color: black;
      font-weight: bolder;
  }

  #data-submit {
      margin-left: 90px;
      width: 100px;
      font-size: 15px;
      color: darkblue;
      font-weight: bolder;
      background-color: whitesmoke;
      margin-top: 10px;
      margin-bottom: 5px;
  }

  /************   table webpage   **************/

  #database {
      background: url(/client/images/drinks.jpg) center/cover fixed no-repeat !important;
  }

  #hDatabase {
      font-family: 'Patrick Hand', cursive;
      text-align: center;
      color: black;
      font-weight: bolder;
      background-color: lightsalmon;
      width: 270px;
      border-radius: 30px;
      margin: auto;
      margin-top: 200px;
      font-size: 34px;
      opacity: 0.80;
  }

  table {
      font-family: 'Patrick Hand', cursive;
      border: 2px solid black;
      border-collapse: collapse;
      margin: auto;
      margin-top: 5px;
      opacity: 0.70;
  }

  th {
      background-color: lightseagreen;
      border: 2px solid black;
      color: black;
      font-weight: bolder;
      text-align: center;
      border-collapse: collapse;
      padding-right: 10px;
      padding-left: 10px;
  }

  tr,
  td {
      text-align: center;
      border: 2px solid black;
      border-collapse: collapse;
      padding-right: 10px;
      padding-left: 10px;
      color: black;
      font-weight: bolder;
  }

  .deleteButton {
      background-color: lightgray;
      color: darkred;
      font-weight: bolder;
      border-radius: 20px;

  }

  .deleteButton:hover {
      background-color: darkslategray;
      color: white;
  }

  tr:nth-child(even) {
      background-color: lightseagreen;
      color: aliceblue;
  }

  tr:nth-child(odd) {
      background-color: lightsalmon;
  }
