  /************   Header for all webpages   **************/
  .header {
      overflow: hidden;
      font-family: 'Luckiest Guy', cursive;
      background-color: orangered;
      font-weight: bolder;
  }

  h4 {
      float: left;
      color: white;
      text-align: center;
      padding: 15px 12px 0px 10px;
      text-decoration: none;
      font-size: 28px;
      line-height: 25px;
      border-radius: 4px;
      font-weight: bolder;
  }

  .header a {
      float: left;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 23px;
      line-height: 25px;
      border-radius: 4px;
      font-weight: bold;
      text-decoration: none;
  }

  .headerLinks:link {
      text-decoration: none;
      color: #00BAFF;
      font-weight: bolder;
  }

  .headerLinks:visited {
      color: mediumblue;
      text-decoration: none;
  }

  .headerLinks:hover {
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.75);
      color: lightseagreen;
      font-weight: bolder;
  }


  /************   landing page    **************/

  #index {
      background: url(/client/images/tacos.jpg) center/cover fixed no-repeat !important;
  }

  #view-form {
      background-color: mintcream;
      opacity: .90;
      width: 780px;
      border-radius: 30px;
      margin: auto
  }

  .hyperText {
      color: darkred;
      font-weight: bold;
      text-decoration: none;
      size 30px;
  }

  .hyperText:hover {
      text-decoration: none;
      font-weight: bolder;
      color: red;
      font-size: 35;
  }

  #pInfo {
      font-family: 'Patrick Hand', cursive;
      text-align: center;
      color: darkblue;
      font-weight: bolder;
      background-color: lightgray;
      max-width: 900px;
      border-radius: 30px;
      margin: auto;
      margin-top: 200px;
      font-size: 25px;
      opacity: 0.80;
  }

  p {
      padding: 0px 20px 0px 20px;
  }

  /************   write review page   **************/
  #review {
      background: url(/client/images/shrimpTacos.jpg) center/cover fixed no-repeat !important;
  }

  #hReview {
      font-family: 'Patrick Hand', cursive;
      text-align: center;
      color: darkblue;
      font-weight: bolder;
      background-color: lightgray;
      width: 300px;
      border-radius: 30px;
      margin: auto;
      margin-top: 200px;
      font-size: 30px;
      opacity: 0.80;
  }

  #write-section {
      font-family: 'Luckiest Guy', cursive;
      border: 4px solid black;
      margin: auto;
      width: 600px;
      border-radius: 30px;
      margin-top: 5px;
      background-color: lightgray;
      opacity: 0.80;
      padding: 8px;
  }

  .labelName {
      margin: 5px;
      color: darkblue;
      font-size: 17px;
      font-weight: bolder;
  }

  .inputBox {
      font-family: sans-serif;
      margin-top: 5px;
      text-align: center;
      margin-right: 5px;
      float: right;
      color: black;
      font-weight: bolder;
  }

  #data-submit {
      margin-left: 90px;
      width: 100px;
      font-size: 15px;
      color: darkblue;
      font-weight: bolder;
      background-color: whitesmoke;
      margin-top: 10px;
      margin-bottom: 5px;
  }

  /************   table webpage   **************/

  #database {
      background: url(/client/images/drinks.jpg) center/cover fixed no-repeat !important;
  }

  #hDatabase {
      font-family: 'Patrick Hand', cursive;
      text-align: center;
      color: black;
      font-weight: bolder;
      background-color: lightsalmon;
      width: 200px;
      border-radius: 30px;
      margin: auto;
      margin-top: 200px;
      font-size: 34px;
      opacity: 0.80;
  }

  #selectLocation {
      margin: auto;
      margin-top: 25px;
      margin-bottom: 10px;
      color: black;
      font-size: 17px;
      text-align: center;
      font-weight: bolder;
      background-color: lightsalmon;
      width: 350px;
      opacity: .85;
  }

  #groupBy {
      background-color: lightseagreen;
      color: white;
      text-align: center;
      font-weight: bolder;
  }

  table {
      font-family: 'Patrick Hand', cursive;
      border: 2px solid black;
      border-collapse: collapse;
      margin: auto;
      margin-top: 5px;
      opacity: 0.70;

  }

  th {
      background-color: lightseagreen;
      border: 2px solid black;
      color: black;
      font-weight: bolder;
      text-align: center;
      border-collapse: collapse;
      padding-right: 10px;
      padding-left: 10px;
  }

  tr,
  td {
      text-align: center;
      border: 2px solid black;
      border-collapse: collapse;
      padding-right: 10px;
      padding-left: 10px;
      color: black;
      font-weight: bolder;
  }

  .deleteButton {
      background-color: lightgray;
      color: darkred;
      font-weight: bolder;
      border-radius: 20px;

  }

  .deleteButton:hover {
      background-color: darkslategray;
      color: white;
  }

  tr:nth-child(odd) {
      background-color: lightseagreen;
      color: aliceblue;
  }

  tr:nth-child(even) {
      background-color: lightsalmon;
  }

  #editPage {
      text-align: center;
      background-color: white;
      width: 1200px;
      font-weight: bolder;
      margin: auto;
      margin-top: 200px;
      font-size: 34px;
      opacity: 0.80;
  }

  #edit-section {
      font-family: 'Luckiest Guy', cursive;
      border: 4px solid black;
      margin: auto;
      width: 600px;
      border-radius: 30px;
      margin-top: 30px;
      background-color: lightgray;
      opacity: 0.80;
      padding: 8px;
  }


  /************   view webpage   **************/

  #viewReview {
      background: url(/client/images/frozenMargarita.jpg) center/cover fixed no-repeat !important;
  }

  #view-div {
      position: relative;
      padding-top: 10px;
      width: 850px;
      border-radius: 50px;
      margin: auto;
      margin-top: 300px;
      background: rgba(34, 167, 240, 0.60);

  }

  #view-h4 {
      color: white;
      font-weight: bolder;
      text-align: center;
      padding-left: 80px;
  }

  .view-th {
      background-color: salmon;
      font-size: 24px;
  }

  .view-td {
      background-color: lightseagreen;
      font-size: 24px;
  }



  #divButtons {
      padding: 10px 0px 10px 0px;
      text-align: center;
  }

  .view-buttons {
      background-color: oldlace;
      color: darkred;
      font-weight: bolder;
      font: 20px;
  }
